@model Usale.DTO.VendedorDTO

@{
    ViewData["Title"] = "CadastroVendedorView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/UserStyle.css" />

<main id="main">
    <div class="hero-section">

        <div class="wave">
            <svg width="100%" height="355px" viewBox="0 0 1920 355" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                        <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,757 L1017.15166,757 L0,757 L0,439.134243 Z" id="Path"></path>
                    </g>
                </g>
            </svg>
        </div>


        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 hero-text-image">
                    <div class="row d-flex justify-content-center container-fluid">
                        <div class="bg-light rounded pb-5 w-75" style="box-shadow: 1px 5px 10px #808080; max-height: 850px; overflow-y: scroll; overflow-x: hidden; margin-top: 100px;">
                            <div class="m-3">
                                <div class="modal-header text-center" style="border: none;">
                                    <h5 style="font-size: 30px; color: #000000" class="modal-title w-100">Cadastre sua conta aqui vendedor</h5>
                                </div>
                                <hr />
                                <br />
                                <div class="form-group mt-3">
                                    <div class="col-12 col-lg-6 float-left">
                                        <label for="nome2" class="control-label">Seu Nome</label>
                                        <input id="nome2" class="form-control"  autocomplete="off"/>
                                    </div>
                                    <div class="col-12 col-lg-6 float-left">
                                        <label for="email" class="control-label">Seu Email</label>
                                        <input id="email" class="form-control"  autocomplete="off"/>
                                    </div>
                                </div>

                                <div class="form-group mt-3">
                                    <div class="col-12 col-lg-6 float-left">
                                        <label for="lojaNome" class="control-label mt-2">Nome da loja</label>
                                        <input for="lojaNome" class="form-control"  autocomplete="off"/>
                                    </div>
                                    <div class="col-12 col-lg-6 float-left">
                                        <label for="lojaCNPJ" class="control-label mt-2">CNPJ</label>
                                        <input for="lojaCNPJ" class="form-control"  autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="form-group ml-3 mr-3 mt-3">
                                    <label for="lojaEndereco" class="control-label mt-2">Endereço da loja</label>
                                    <input for="lojaEndereco" class="form-control"  autocomplete="off"/>
                                </div>
                                <div class="form-group mt-3 mb-5">
                                    <div class="col-12 col-lg-6 float-left">
                                        <label for="senha" class="control-label mt-2">Senha</label>
                                        <input id="senha" type="password" class="form-control"  autocomplete="off"/>
                                    </div>
                                    <div class="col-12 col-lg-6 float-left">
                                        <label for="senhaConfirm" class="control-label mt-2">Confirme sua senha</label>
                                        <input id="senhaConfirm" type="password" class="form-control" autocomplete="off"/>
                                    </div>
                                </div>

                                <input id="btn-cad" type="button" value="Registrar-se" class="btn btn-primary w-100 mt-4" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



<script src="~/js/jquery-3.4.1-COMPLETASSO.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.js"></script>
<script src="~/vendor/sticky/sticky.js" type="text/javascript"></script>
<script src="~/vendor/owlcarousel/owl.carousel.js" type="text/javascript"></script>
<script src="~/vendor/aos/aos.js" type="text/javascript"></script>
<script src="~/vendor/easing/easing.js" type="text/javascript"></script>
<script src="~/js/main.js"></script>
<script src="~/js/jquery-funcoes.js"></script>

<script>

    $(document).ready(function () {


        function VendedorDTO() {
            var Nome;
            var Email;
            var Password;
            var Loja;
        }

        function LojaDTO() {
            var LojaId = 0;
            var Banner;
            var Logo;
            var Nome;
            var Endereco;
            var CNPJ;
            var Produtos = [];
        }

        function ProdutoDTO() {
            var ProdutoId = 0;
            var Imagens = [];
            var Descricao= "";
            var Nome = "";
            var Preco = 0;
            var Quantidade = 0;
            var Retiravel = false;
            var UniMedida = "";
            var Cor = "";
            var Marca = "";
        }

        function ImagemDTO() {
            var URL = "";
        }




        $("#btn-cad").click(function () {
            debugger;
            var v = new VendedorDTO();

            v.Nome = $("#nome2").val();
            v.Email = $("#email").val();
            v.Password = $("#senha").val();

            var l = new LojaDTO();
            l.Banner = "https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940";
            l.Logo = "https://twirpz.files.wordpress.com/2015/06/twitter-avi-gender-balanced-figure.png?w=640";
            l.Nome = $("#lojaNome").val();
            l.Endereco = $("#lojaEndereco").val();
            l.Cnpj = $("#lojaCNPJ").val();

            var p = new ProdutoDTO();
            var img = new ImagemDTO();
            p.Imagens = []
            p.Imagens.push(img)
            l.Produtos = []
            l.Produtos.push(p);

            v.Loja = l;

            console.log(v);

            $.ajax({
                type: "POST",
                url: "@Url.Action("CadastroVendedor", "User")",
                data: JSON.stringify(v),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    window.location.assign('@Url.Action("ModalProdRegister", "User")');
                },
            });



        });

    });

</script>



