
@{
    ViewData["Title"] = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

   div .modal{
        margin: 180px 0 0 450px;
        display: block;
        width: 600px;
        height: 400px;
        background-color: white;
        border: 1px solid rgba(0,0,0,0.2);
    }

   .textContent{
       margin-top: 70px;
   }


</style>

<div class="container">
    <div class="modal">
        <div class="modal-header text-center">
            <h5 class="modal-title w-100">Registro de Perfil</h5>
        </div>
        <div class="text-center mt-5">
            <h5>Escolha o tipo de perfil que mais combina com você!</h5>
        </div>
        <div class="container text-center d-flex justify-content-center flex-column w-50 textContent">
            <a class="btn btn-primary" asp-action="UserCliente" asp-controller="User">Cliente</a>
            <a class="btn btn-info mt-2" asp-action="UserLojista" asp-controller="User">Lojista</a>
        </div>
    </div>
</div>


<script src="~/js/jquery-3.4.1-COMPLETASSO.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script>

    

</script>