@using Microsoft.AspNetCore.Identity
@using Usale.Areas.Identity.Data

@inject SignInManager<UsaleUser> SignInManager
@inject UserManager<UsaleUser> UserManager

        @if (SignInManager.IsSignedIn(User))
        {
            <li class="w-100 text-center text-light border-bottom border-light p-2">
                <a class="nav-link" asp-controller="Home" asp-action="Tutorial">Dashboard<span class="sr-only">(current)</span></a>
            </li>
            <li class="w-100 text-center text-light border-bottom border-light p-2">
                <a class="nav-link" asp-controller="Intra" asp-action="Index">Editar Loja</a>
            </li>
            <li class="w-100 text-center text-light border-bottom border-light p-2">
                <a class="nav-link" asp-controller="Intra" asp-action="Index">QR CODE</a>
            </li>
            <li class="w-100 text-center text-light border-bottom border-light p-2">
                <a class="nav-link" asp-controller="Intra" asp-action="Index">Crédito Bancário</a>
            </li>

            <li class="w-100 text-center text-light border-bottom border-light p-2">
                @*TODO: DEIXAR COM UMA CLASSE PRA FICAR COM CURSOR POINTER*@
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button class="nav-link" id="logout" type="submit" style="background: #ffffff00; border: none;">
                        Sair
                    </button>
                </form>
            </li>


        }
        else
        {

            <li class="w-100 text-center text-light border-bottom border-light p-2">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
            </li>

            <li class="w-100 text-center text-light border-bottom border-light p-2">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
            </li>

        }
